body {
    background: url("tiles.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}
h3, p {
    padding: 0;
    margin: 0;
}

.container {
    width: 575px;
    height: 375px;
    background-color:#1B244A;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapper h3 {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
}

.wrapper p {
    text-align: center;
    width: 100px;
    border-radius: 20px;
    font-family: "Bitcount Single Ink", sans-serif;
    padding: 10px 30px;
    font-size: 90px;
    font-weight: 900;
    background-color: #080001;
     border: 2px solid #9AABD8;
}

.add-btns button {
    font-family: "Bitcount Single Ink", sans-serif;
    color: #9AABD8;
    background-color: #1b2441;
    padding: 8px;
    margin-left: 6px;
    border-radius: 5px;
}